//mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin transition($changeMode, $time, $type ) {
    -webkit-transition: $changeMode $time $type;
    -moz-transition: $changeMode $time $type;
    -o-transition: $changeMode $time $type;
    -ms-transition: $changeMode $time $type;
}

@mixin transform_translate($x_value, $y_value){
    -moz-transform: translate($x_value, $y_value); 
    -webkit-transform: translate($x_value, $y_value);  
    -o-transform: translate($x_value, $y_value); 
    -ms-transform: translate($x_value, $y_value); 
     transform: translate($x_value, $y_value);   
}

//mixin animates
@mixin animation ($delay, $duration, $animation, $oneExecute) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    @if($oneExecute){
      -webkit-animation-iteration-count: $oneExecute;
    }
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    @if($oneExecute){
      -moz-animation-iteration-count: $oneExecute;
    }
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    @if($oneExecute){
      -o-animation-iteration-count: $oneExecute;
    }
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    @if($oneExecute){
      animation-iteration-count: $oneExecute;
    }
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}