//vars
$font-opensans: 'Open Sans', sans-serif;
$p_color: #6595ec;

//Sizes media queries
$break-mobile: 479px;
$time-animation: .3s;
$type-transition: ease-in-out;
$url-close-icon: "../img/alertui-close.png";
