doctype html
html 
  title Alert Ui
  meta(charset="utf-8")
  meta(http-equiv="X-UA-COMPATIBLE" content="IE-edge")
  link(rel="stylesheet" type="text/css" href="../dist/assets/css/alertui.min.css")
  
  body
    block content