doctype html
html
    head
        title Alert Ui
        meta(charset="utf-8")
        meta(http-equiv="X-UA-COMPATIBLE" content="IE-edge")
        link(rel="stylesheet" type="text/css" href="../dist/assets/css/alertui.min.css")
        style.
            html, body {
                -webkit-font-smoothing: antialiased;
            }
            body {
                position: absolute;
                width: 100%;
                top: 0;
                margin: 0;
                padding: 0;
                background: #f0f1f3;
                background: #3a3c42;
                color: #dcdcdc;
                font-family: 'Open Sans', sans-serif;
            }
            
            h1 small{
                color: #636469;
            }
            
            .demo-here {
                position: relative;
                width: 100%;
                padding: 11px;
                margin: 7% auto;
                max-width: 577px;
            }
            
            .demo-here button {
                border: none;
                color: #414a50;
                padding: 7px 16px;
                border-radius: 3px;
                margin: 21px 2px;
                cursor: pointer;
                outline: none;
                font-weight: 600;
            }
            .demo-here button:hover {
                background: #d0d0d0;
                color: #7b7b7b;
            }
            
            .demo-here button:focus {
                background: silver;
            }
            
            .footer-present{
                margin-top: 50px;
                padding: 18px 14px;
                border: 1px solid #4f5052;
            }
            
            .footer-present > * {
                margin: 0;
                font-weight: 400;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
            }
            
            .footer-present a:hover {
                text-decoration: underline;
            }
            
            .footer-present img{
                width: 21px;
                vertical-align: middle;
                margin-right: 14px;
            }
            
            .bt-example {
                border-radius: 0 !important;
                width: 100%;
                margin: 1.5rem 0 0 0 !important;
                padding: .8rem 1rem !important;
                background: cornflowerblue;
                color: #fff !important;
                font-size: 1rem;
                font-weight: 100 !important;
            }
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous")
    body
        block content