include includes/head.pug

    block content
    
    button#btAlert Alert
    button#btConfirm Confirm
    button#btPrompt Prompt
    button#btNoteDefault Note Default
    button#btNoteSuccess Note Success
    button#btNoteError Note Error
    
    include includes/script-footer.pug