@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import "dependences/mixins.scss";
@import "dependences/variables.scss";

.alert-ui { 
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $font-opensans;
    z-index: 99999999;
    
    .altui-modal {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(32, 34, 37, 0.5);
        @include animation (0s, .2s, fadeIn, 1);
    }    
 
    .altui-dialog {
        position: relative;
        width: 90%;
        max-width: 400px;
        margin: 14% auto;
        border-radius: 3px;
        outline: 0;
        background-color: #fff;
        @include animation (0s, .4s, alertUiIn, 1);
        @include box-shadow (0, 19px, 38px, rgba(0, 0, 0, 0.1), false);
        
        .altui-cmd {
            position: absolute;
            right: 10px;
            
            button {
                width: 10px;
                height: 10px;
                margin-left: 5px;
                padding: 10px;
                border: none;
                cursor: pointer;
            }
            
            .altui-close {
                background: url(../img/alertui-close.png) no-repeat center center transparent;    
            }
            
        }
        
        .altui-header {
            padding: 20px 30px 10px 30px;
            font-weight: 600;
            color: #56595f;
        }
        
        .altui-body {
            padding: 0 30px 8px 30px;
            font-size: 13px;
            color: #727782;
        }
        
        .altui-footer {
            padding: 10px 25px 15px 25px;
            text-align: right;
            
            .alt-btn {
                background: transparent;
                border: none;
                padding: 8px 23px;
                border-radius: 3px;
                margin-left: 8px;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                outline: none;
                
                &:hover, &:focus {
                    background: #ececec;
                }
                
                
                &:active {
                    background: #e8e8e8;
                }
                
                &.alt-primary {
                    color: $p_color;
                }
                
                &.alt-default {
                    color: $p_color;
                }
            }
        }
    }
     &.alert-close {
            
            .altui-modal {
                @include animation (0s, .4s, fadeOut, 1);          
            }
            
            .altui-dialog {
                @include animation (0s, .4s, alertUiOut, 1);    
            }
            
        }
    
}
.alert-ui-note {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999999;
    
    .altui-note {
        position: relative;
        font-family: 'Open Sans';
        width: 100%;
        bottom: 0;
        margin: 0 auto 0 auto ;
        padding: 15px 20px;
        background: #5f70a0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        @include animation (0s, .4s, alertUiNote, 1);
        @include transition (all, .3s, ease-in-out);
        
        &.note-close {
            @include animation (0s, .4s, alertNoteClose, 1);    
        }
    }
}

//Animations
@include keyframes (fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes (fadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes (alertUiNote) {
    0% {
        @include transform_translate(0, 100%);

    }
    100% {
         @include transform_translate(0, 0);  
    }
}

@include keyframes (alertNoteClose) {
    0% {
        @include transform_translate(0, 0);
    }
    100% {
         @include transform_translate(0, 100%);  
    }
}

@include keyframes (alertUiIn) {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
     opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


@include keyframes (alertUiOut) {
    
    0% {
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);    
    }
    
    45% {
       opacity: 1;
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    80% { 
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
  
  
  
}